<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%unless admin_signed_in? %>
        <%= link_to 'Sing in', new_admin_session_path() %>
        <%= link_to 'Sing up', new_admin_registration_path() %>
    <% else%>
        <%= link_to 'Sing out',  destroy_admin_session_path() %>
    <% end %>

    <%= yield %>
  </body>
</html>
